html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


#button-id {
    margin-right: 20px;
    margin-left: 10px;
}



#li-button-logout {
    margin-left: 10px;
    background-color: rgb(221, 36, 36);
    border-radius: 5px;
    transition: background-color 0.5s;
}

#li-button-logout:hover {
    background-color: rgb(170, 21, 21);
}

#li-button-signup {
    margin-left: 30px;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.5s;

}

#li-button-signup:hover {
    background-color: #0255ae;
}

#li-button-login {
    margin-left: 30px;
    background-color: #28a745;
    border-radius: 5px;
    transition: background-color 0.5s;
    
}
#li-button-login:hover {
    background-color: #1c7e33;
}



#li-id {
    margin-right: 10px;
}

#li-id:hover {
    background-color: gray;
    border-radius: 5px;
    transition: background-color 1s;
}

*, *::after, *::before {
    box-sizing: border-box;

}

.question-link {
    text-decoration: none;
}

.question-link:hover {
    text-decoration: none;
}

.main{
    max-width: 1000px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: top 0.3s;    
}

.main-register {
    max-width: 400px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
}

.main-question {
    max-width: 700px;
    margin: -10px auto;
    padding: 24px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main-question-detail {
    max-width: 1200px;
    margin: -10px auto;
    padding: 24px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    top: -10px;
    
}

.page {
    display: flex;
    flex-direction: column;
    
}

.title {
    margin: 10px auto 5px auto;
    font-weight: 900;
    transition: color 0.5s;
    text-align: center;
}
.title:hover {
    color: #7b7c7d;
}

.question-list-item-title {
    color: black;
    font-size: 18px;
    font-weight: 900;
    margin-top: 5px;
}


.question-list-item-author {
    color: gray;
    margin: 0;
}

.register_logo {
    margin-right: 1.5em;
    transition: 0.2s;
}

.register_logo:hover {
    padding: 2px;
}




.error {
    font-size: 14px;
    color: rgb(209, 1, 1);
}

.errorlist {
    margin: 0;
}


.non_form_errors {
    margin-bottom: 20px;
   
}


blockquote {
    border-left: 3px solid lightgray;
    padding-left: 20px;
}




.footer {
    padding-top: 1rem;
    background-color: #151514; 
}
  
.contact-box {
    position: relative; }
  
.footer_f_icon {
    color: #f7aa03;
    width: 4rem;
    font-size: 50px; }
  
.contact-box-title {
    color: #f7aa03;
    text-decoration: none;
    font-size: 1.4rem; }

.contact-box-title:hover {
      color: #f7aa03; }
  
.contact-box-info {
    padding: 0.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; }
  
.contact-box-subtitle {
    font-size: 1rem;
    color: #525257;
    text-decoration: none; }


  
.footer-bottom {
    background-color: black; }

.footer-bottom .copyright {
      color: #525257;
      font-weight: 600; }

  
#footercenter {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #706a5e; }
    #footercenter a {
      color: #f7aa03; }
  
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    color: #f7f1e3;
    background-color: #f7aa03; }

.back-to-top:hover {
    color: #000428; }
  
#back_up {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }


  
