<br>
<br>

<footer class="footer">
    <div class="container">
        <div class="row">


            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
                <div class="footer_f_icon">
                    <i class="fa-solid fa-phone-volume"></i>
                </div>
                <div class="contact-box-info">
                    <a href="" class="contact-box-title">1100223344</a>
                    <p class="contact-box-subtitle">Mon-Fri 9am-6pm<p>
                </div>
            </div>
                
                
            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
                <div class="footer_f_icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="contact-box-info">
                    <a href="" class="contact-box-title">email@address.com</a>
                    <p class="contact-box-subtitle">Online Support<p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
                <div class="footer_f_icon">
                    <i class="fa-solid fa-map-location-dot"></i>
                </div>
                <div class="contact-box-info">
                    <a href="" class="contact-box-title">New York, USA</a>
                    <p class="contact-box-subtitle">NY 10012, US<p>
                </div>
            </div>


        </div>
    </div>


    


    

    <div class="footer-bottom pt-3 pb-3">
        <div class="container">
            <div class="row" id="allcenter">
                <div class="col-12">
                    <div class="copyright" id="footercenter">
                        &copy; Copyright 2022 <a href="#">Multi-purpose Company</a> | created by <a href="#">Smart developer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</footer>










<a href="#" class="shadow rounded-circle back-to-top">
    <i id="back_up" class="fa-solid fa-chevron-up"></i>
</a>