{% extends 'layouts/page.html' %}

{% block content %}
<div class="page">
<div class="title">All Questions</div>


{% for question in questions %}
<div class="question-list-item">
    <div class="main">
        <a class="question-link" href="{% url 'question' question.id %}">
            <p class="question-list-item-title">
                {{question.title}}
            </p>
            <p class="question-list-item-author">
                by {{question.author.username}}
            </p>
        </a>
    </div>
</div>

{% endfor %}
</div>


{% endblock %}

