{% extends 'layouts/page.html' %}

{% block content %}
{% load static %}
<div class="page">


<br>

{% if not questions %}
<div style="text-align: center;">
    <br>
    <img src="{% static 'image/error.webp' %}" alt="" width="300px">

    
    <h1>Cannot find any related quesries.</h1>
    <h3>Try searching with some other words !</h3>
</div>
{% endif %}


{% for question in questions %}
<div class="question-list-item">
    <div class="main">
        <a class="question-link" href="{% url 'question' question.id %}">
            <p class="question-list-item-title">
                {{question.title}}
            </p>
            <p class="question-list-item-author">
                by {{question.author.username}}
            </p>
        </a>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}

