{% extends 'layouts/page.html' %}

{% block content %}
{% load static %}
<div class="page">
    <div class="title"><img class="register_logo" src="{% static 'image/logo.webp' %}" alt="" width="45px" height="45px">Join Our Community !</div>


    


<div class="question-list-item">
  <div class="main-register">

    <form method="POST" action="">
      {% csrf_token %}
      

      <div>
        <label for="{{form.email.id_for_label}}">Email</label><br>
        {{form.email}}
        <span class="error">{{form.email.errors}}</span>
      </div>
      <br>
      <div>
        <label for="{{form.username.id_for_label}}">Username</label><br>
        {{form.username}}
        <span class="error">{{form.username.errors}}</span>
      </div>
      <br>
      <div>
        <label for="{{form.password1.id_for_label}}">Password</label><br>
        {{form.password1}}
        <span class="error">{{form.password1.errors}}</span>
      </div>
      <br>
      <div>
        <label for="{{form.password2.id_for_label}}">Confirm Password</label><br>
        {{form.password2}}
        <span class="error">{{form.password2.errors}}</span>
      </div>
 
      <br>
      
      {% if form.non_field_errors %}
      <div class="non_form_errors">
        <span class="error">{{form.non_field_errors.as_ul}}</span>
      </div>
      {% endif %}
      
      
      
      <button type="submit" class="btn btn-primary">SignUp</button>




    </form>


<!--     <br>
    
    <form method="POST" action="">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <br>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <br>
        
        <button type="submit" class="btn btn-primary">SignUp</button>
    </form> -->

  </div>
</div>
</div>


{% endblock %}